form{
border:1px solid rgba(30, 144, 255, 0.4);
margin:50px auto 30px auto;
padding:30px;
width:700px;
border-radius:10px;
background:white;
}

.small{
width: 300px; height: 40px; font-size: 16px; padding: 10px; border-radius: 8px; border: 1px solid #ccc;background:#fff5f7
}

.small-margin{
margin:20px
}

.full{
width: 620px; height: 40px; font-size: 16px; padding: 10px; border-radius: 8px; border: 1px solid #ccc;background:#fff5f7
}


.submit-button{
width: 600px; height: 40px; font-size: 16px; padding: 10px; border-radius: 8px; border: 1px solid #ccc;background-color:#ADD8E6
}


body{
 background: linear-gradient(to right, #00BFFF, #1E90FF);
font: 20px arial sans-serif;
}


.submit-button:hover{
background:#1E90FF}
